{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>SEO/Panel</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/3.0.1/css/primer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/panel.css' %}">
<link rel="stylesheet" href="{% static 'css/keywordresearch.css' %}">
</head>
<body>
    <div class="atom-panel atom-panel--left left">
        <nav class="atom-toolbar atom-toolbar-vertical expanded">
          <a href="#" class="btn btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
              </svg>
            <span class="title">Keyword researcher</span>
          </a>
          <a href="{% url 'logout' %}" class="btn btn-default">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
              </svg>
           <span class="title">Logout</span>
         </a>
          {% comment %}
          <a href="#" class="btn btn-default">
            <span class="octicon octicon-terminal"></span>
            <span class="title">Console</span>
          </a>
          <a href="#" class="btn btn-default">
            <span class="octicon octicon-telescope"></span>
            <span class="title">Sourcerer</span>
          </a>
          <a href="#" class="btn btn-default">
            <span class="octicon octicon-desktop-download"></span>
            <span class="title">Scraper</span>
          </a>
          <hr class="atom-toolbar-spacer">
          <a href="#" class="btn btn-default">
            <span class="octicon octicon-file-directory"></span>
            <span class="title">Files</span>
          </a>
          <a href="#" class="btn btn-default">
            <span class="octicon octicon-gear"></span>
            <span class="title">Settings</span>
          </a> {% endcomment %}
          <div class="atom-toolbar-toggle-button left atom-toolbar-toggle-button-visible expanded">
            <div class="atom-toolbar-toggle-button-inner left">
              <span class="octicon octicon-chevron-left"></span>
            </div>
          </div>
        </nav>
      </div>

    <div class="container text-center text-dark mt-5">
        <div class="row">
          <div class="col-lg-4 d-block mx-auto mt-5">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-md-12">
                <div class="card">
                    {%block content%}
                    {%endblock%}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<footer>
{%block script%}
{%endblock%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/panel.js' %}"></script>
<script src="{% static 'js/keywordresearch.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script></footer>
</html>